<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RaidaChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>867BF1AC1FBE05A4000DD2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>867BF1C01FBE05A4000DD2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>867BF1CB1FBE05A4000DD2B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
